body {
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 30%;
    margin-right: 30%;
}

ul {
    background: #3399ff;
    padding: 20px;
}

ul li {
    background: #cce5ff;
    margin: 5px;
}
