body {
    font-family: Verdana, Geneva, sans-serif;
}

.content {
    margin-left: 30%;
    margin-right: 30%;
}

.menu a{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

ul {
    background: #3399ff;
    padding: 20px;
}

ul li {
    background: #cce5ff;
    margin: 5px;
}

