---
layout: default
---
<div class="content{% if site.photo_url %} photo-post{% endif %}">
  <div class="post single">
    {% unless site.title_hidden %}
    <h1>{{ site.title }}</h1>
    <info datetime="{{ site.date | date: "%Y-%m-%d" }}">
      {{ site.date | date: "%b %e, %Y" }}
    </info>
    {% endunless %}
    <div class="body">{% if site.external_url %}Article is published at {{ site.external_url }}<script>
    document.location.href = "{{ site.external_url }}";
    </script>{% else %}{{ content }}{% endif %}</div>
    <div class="breaker"></div>
  </div>
</div>
{% include autoreload-in-debug.html %}
